subscription_id        = ""
devops_subscription_id = ""
tenant_id              = ""
management_group_id    = ""
personal_access_token  = ""
devops_service_url     = ""
devops_project_name    = ""
terraform_state_config = {
  resource_group_name        = ""
  storage_account_name       = ""
  backend_service_connection = ""
}
location                   = ""
stage                      = ""
skip_provider_registration = false
vnet_config = {
  dns_server    = [""]
  address_space = ""
  subnets = {
    databases   = "",
    application = ""
  }
}
create_virtual_machine_template = false

#tags

business_service_number = "CI123456789"
var.application_name    = "ApplicationName"