subscription_id        = ""
devops_subscription_id = ""
tenant_id              = ""
management_group_id    = ""
personal_access_token  = ""
devops_service_url     = ""
devops_project_name    = ""

terraform_state_config = {
  resource_group_name        = ""
  storage_account_name       = ""
  backend_service_connection = ""
}

location = ""
stage    = ""

rg_config = {
  network     = "Network"
  application = "Application"
  database    = "Database"
  fileshare   = "Files"
  security    = "Security"
}

vnet_config = {
  dns_server    = [""]
  address_space = ""
  subnets = {
    application = "ApplicationServer"
    database    = ""
  }
  nsg = false
}

terraform_version = ""

create_virtual_machine_template = false
vm_win = {
  hostname = ""
  version  = ""
}
vm_ux_hostname                  = ""
vm_ux_public_key_name           = "id_rsa.pub"

# SQL
sql = {
  create        = false
  cust          = "cust"
  rg            = "database"      
  type          = "server"        # type: server or managed
  subnet        = "ApplicationServer"
  ip_server     = "XXX.XXX.XXX.XXX"
  database_name = "cust_db_data"
  collation     = "Latin1_General_CI_AS"
  sku_name      = "S3"
  max_size_gb   = 20
  
  tags = {
    tagname = "tagvalue"
  }
}

#tags

## default

business_service_number = "12345"
application_name        = "ApplicationName"
env                     = "abc"
iac                     = true
managed_by              = "example.company"
alerting                = "enabled"

# default additional. join with default

additional_tags = {
  tagname = "tagvalue"
}