locals {
  default_location = "${location}"
  dns_servers      = ["${vnet_config.dns_server}"]
  stage            = "${stage}"
  application_name = "${application_name}"
  env_num          = "${env_num}"
}
