#This file is where the code for your application will be in the future.
data "azurerm_subscription" "current" {
}

module "tags" {
  source          = "qbeyond/subscription-tags/azapi"
  subscription_id = data.azurerm_subscription.current.subscription_id
  tags = {
      "Business Service Number"      = ""
      "applicationname"              = "$${local.subsciption_logical_name}"
      "env"                          = "${stage}"
  }
}