terraform {
  required_providers {
    azurerm = {
      source  = "hashicorp/azurerm"
      version = ">=3.46.0"
    }
    azapi = {
      source = "Azure/azapi"
      version = "1.12.1"
    }
  }
}
provider "azurerm" {
  features {}
  skip_provider_registration = false
}

provider "azapi" {
}