terraform {
  required_providers {
    azurerm = {
      source  = "hashicorp/azurerm"
      version = "~> ${azurerm_version}"
    }
    azapi = {
      source  = "Azure/azapi"
      version = "~> ${azapi_version}"
    }
  }
}
provider "azurerm" {
  features {}
}