subscription_id = "<application subscription id>"
management_subscription_id = "<management subscription id>"
tenant_id = "<customer tenant id>"
management_group_id = "msp-lz-prd" #optional parameter
personal_access_token = "<your pat>"
devops_service_url = "https://dev.azure.com/<customer>"
devops_project_name = "ALZ - q.beyond AG"
terraform_state_config = {
    resource_group_name = "rg-TerraformState-prd-01"
    storage_account_name = "stter<customer>tfstate01"
    backend_service_connection = "sc-azurerm-prd-Management-01-backend"
}
location = "westeurope"
stage = "prd"
alz_vnet_config = {
    vnet_address_space = "10-0-0-0-16"
    snet_usecase = "Storage"
    snet_address_prefixes = "10-0-0-0-24"
}